@use '@angular/material' as mat;

:host {
  @include mat.table-overrides(
    (
      header-container-height: 45px,
      row-item-container-height: 45px,
    )
  );
  @include mat.checkbox-overrides(
    (
      state-layer-size: 40px,
    )
  );

  table {
    margin-bottom: 24px;

    th {
      background-color: rgba(0, 0, 0, 0.04);
    }

    td,
    th {
      vertical-align: middle;
      color: var(--workflow-graph-color-non-primary);

      &:first-child,
      &:last-child {
        padding: 0px;
      }
    }

    button {
      @include mat.icon-button-overrides(
        (
          state-layer-size: 40px,
        )
      );
      padding: 0;
    }
  }

  button {
    text-transform: uppercase;
  }
}
