:host {
  --mat-table-header-container-height: 45px;
  --mat-table-row-item-container-height: 45px;
}

table {
  margin-bottom: 24px;
  button {
    --mdc-icon-button-state-layer-size:40px;
    padding: 0;
  }
}

td, th {
  &:first-child, &:last-child {
    padding: 0px;
  }
}

th {
  background-color: rgba(0,0,0,.04);
}

button {
  text-transform: uppercase;
}