<aside
  class="empty-space-alloc"
  aria-hidden="true"
  [style.width.px]="graphWidth * (stateService.zoom | async)!"
  [style.height.px]="graphHeight * (stateService.zoom | async)!"
></aside>
<figure
  #dagWrapper
  zoomingLayer
  [features]="features"
  [zoomStepConfig]="zoomStepConfig"
  [lastResizeEv]="lastResizeEv"
  [graphX]="graphX"
  [graphY]="graphY"
  (windowPan)="windowPan($event)"
  (freeWindowPan)="freeWindowPan($event)"
  (handleResizeSync)="handleResizeSync($event)"
  monitorResize
  (resize)="handleResizeWithEvent($event)"
  (isZooming)="handleIsZooming($event)"
  (zoomChange)="onZoomChanged($event)"
  (scroll)="(dagWrapper.scrollLeft || dagWrapper.scrollTop) && dagWrapper.scrollTo(0, 0)"
  class="dag-wrapper"
>
  <svg class="background-grid" aria-hidden="true">
    <defs>
      <!-- Grid definition -->
      <pattern [id]="getGridPatternUniqueId()"
        [attr.width]="themeConfig.background.dots.width"
        [attr.height]="themeConfig.background.dots.height"
        patternUnits="userSpaceOnUse">
        <circle
          [attr.cx]="themeConfig.background.dots.cx"
          [attr.cy]="themeConfig.background.dots.cy"
          [attr.r]="themeConfig.background.dots.radius"
          [attr.fill]="themeConfig.background.dots.fill"
        />
      </pattern>
    </defs>
    <rect width="100%" height="100%" [attr.fill]="getGridPatternUrl()" />
  </svg>
  <aside
    class="panning-slider"
    [class.debug]="features.debugPanningLayer"
    aria-hidden="true"
    cdkDrag
    [cdkDragFreeDragPosition]="graphResetPan"
    [style.width.px]="lastResizeEv.width || graphWidth * (stateService.zoom | async)!"
    [style.height.px]="lastResizeEv.height || graphHeight * (stateService.zoom | async)!"
    (cdkDragMoved)="smoothInteractions ? graphPan('move', $event) : graphPanThrottled('move', $event)"
    (cdkDragStarted)="graphPan('start', $event)"
    (cdkDragEnded)="graphPan('end', $event)"
  ></aside>
  <section>
    <ai-dag-raw
      #rootDag
      [class]="rootDagClass"
      [noEmptySpaceAlloc]="true"
      [isPanning]="graphPanning"
      [class.panning]="graphPanning"
      [sizeConfig]="sizeConfig"
      [nodes]="nodes"
      [edges]="edges"
      [groups]="groups"
      [hoveredEdge]="hoveredEdge"
      [customNodeTemplates]="customNodeTemplates"
      (graphResize)="resizeGraph($event)"
      (focusin)="focusElementFiltered($event)"
      (mousedown)="mousedown = true"
      (mouseup)="mousedown = false"
      (mouseleave)="mousedown = false"
      [class.animate-movement]="animateMove && !graphPanning"
      [resolveReference]="resolveReference"
      (edgeLabelClick)="edgeLabelClick.emit($event)"
      (hoveredEdgeChange)="hoveredEdgeChange.emit($event)"
    />
  </section>
</figure>
<div class="side-flex">
  <minimap
    #minimap
    *ngIf="enableMinimap && rootDagInitialized && lastResizeEv.width"
    [position]="minimapPosition"
    [features]="features"
    [groups]="groups"
    [nodes]="nodes"
    [customMinimapNodeTemplates]="customMinimapNodeTemplates"
    [selectedNode]="selectedNode"
    [graphPanning]="graphPanning"
    [sizeConfig]="sizeConfig"
    [graphWidth]="graphWidth"
    [graphHeight]="graphHeight"
    [winWidth]="lastResizeEv.width"
    [winHeight]="lastResizeEv.height"
    [x]="graphX"
    [y]="graphY"
    (windowPan)="windowPan($event)"
/>
<aside *ngIf="!!sidebarRef"
  class="sidebar-wrapper"
>
  <ng-content select="ai-dag-sidebar" [class.panning]="graphPanning"></ng-content>
</aside>
</div>
<div
  class="loading-screen"
  [class.loading]="loading || (!rootDagInitialized && showLoadingUntilGraphRendered)"
  [attr.aria-hidden]="!(loading || (!rootDagInitialized && showLoadingUntilGraphRendered))"
  >
  <mat-spinner
    [diameter]="30"
    color="primary"
    aria-label="Loading graph"
    i18n-aria-label="Label on progress spinner when the graph is loading"
  />
</div>
<workflow-graph-color-theme-loader/>