/*
 * Dag renderer base style definitions
 */

/* Mixin and deps imports */
@import './mixins.scss';

:host {
  flex: 1 1 0%;
  display: inline-block;
  position: relative;
  &:not(.no-flex) {
    width: 100%;
    height: 100%;
  }
}

/* General Styles for internal components */
.empty-space-alloc {
  display: block;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  transition: width $graph-change-speed, height $graph-change-speed;
}

.panning-slider {
  position: absolute;
  user-select: none;
  &.debug {
    background: transparentize($color: orange, $amount: 0.7);
  }
  &:active {
    cursor: grabbing;
  }
  cursor: grab;
}

.dag-wrapper {
  @include fullbleed;
  overflow: hidden;
  margin: 0;
  .background-grid {
    @include fullbleed;

    .grid-dots {
      fill: #e0e0e0;
    }
  }
  ai-dag-raw {
    transition: transform 0.08s;
    &.animate-movement {
      transition: transform 0.24s;
    }
  }
}

.sidebar-wrapper {
  pointer-events: none;
  transition: top $graph-change-speed, bottom $graph-change-speed;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.side-flex {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
}

.loading-screen {
  @include fullbleed;
  &:not(.loading) {
    opacity: 0;
    pointer-events: none;
  }
  background: #f6f7f7;
  transition: opacity $graph-change-speed;
  display: flex;
  align-items: center;
  justify-content: center;
}
