<aside
  *ngIf="!noEmptySpaceAlloc"
  aria-hidden="true"
  class="empty-space-alloc"
  [style.width.px]="graphWidth"
  [style.height.px]="graphHeight"
></aside>
<div
  [ngClass]="['dag-component', toggleClass(collapsed, 'collapse')]"
  [style.width.px]="graphWidth"
  [style.height.px]="graphHeight"
>
  <svg class="edge canvas" aria-hidden="true">
    <ng-container *ngFor="let e of edges; trackBy: edgeTrack">
      <g
        *ngIf="isDagreInit(e)"
        class="edge-group fade-in"
        [class.pending-or-static]="pendingOrStatic(e.to)"
        [class.animated]="animatedEdge(e)"
        [class.running]="!(userConfigService.config | async)?.a11y?.disableAnimations"
        [class.hovered]="hoveredEdge == e"
      >
        <defs *ngIf="getEdgeWidth(e, false) as eWidth">
          <marker
            [attr.id]="getArrowMarkerId(e)"
            viewBox="0 0 10 10"
            refX="10"
            refY="5"
            [attr.markerWidth]="eWidth + 7"
            [attr.markerHeight]="eWidth + 7"
            markerUnits="userSpaceOnUse"
            orient="auto-start-reverse"
          >
            <path
                class="arrow"
                d="M 0 1 L 10 5 L 0 9 z"
                [attr.stroke]="getEdgeColor(e) || '#9ba1a7'"
                [attr.fill]="getEdgeColor(e) || '#9ba1a7'"
            />
          </marker>
        </defs>
        <path
          class="line"
          [attr.d]="buildPath(e)"
          [attr.stroke]="getEdgeColor(e)"
          [attr.stroke-width]="getEdgeWidth(e)"
          [attr.marker-end]="getEdgeMarkerEndId(e)"
        />
      </g>
    </ng-container>
  </svg>
  <figcaption
    aria-hidden="true"
    class="edge-label fade-in"
    *ngFor="let l of getEdgeLabels(); trackBy: edgeLabelTrack"
    (mouseenter)="setEdgeHover(l.edge, true)"
    (mouseleave)="setEdgeHover(l.edge, false)"
    [style.transform]="l.mid?.cssTransform"
  >
    {{ l.label }}
  </figcaption>
  <ng-container *ngFor="let nodeOrGroup of a11ySortedNodes; trackBy: nodeOrGroupTrack">
    <ng-container *ngIf="getNodeType(nodeOrGroup) !== 'group'">
      <ng-template *ngTemplateOutlet="renderNode; context: {$implicit: nodeOrGroup}"></ng-template>
    </ng-container>
    <ng-container *ngIf="getNodeType(nodeOrGroup) === 'group'">
      <ng-template *ngTemplateOutlet="renderGroup; context: {$implicit: nodeOrGroup}"></ng-template>
    </ng-container>
  </ng-container>
  <svg class="marker canvas" aria-hidden="true">
    <ng-container *ngFor="let e of edges; trackBy: edgeTrack">
      <g *ngIf="isDagreInit(e)" class="marker-group fade-in">
        <g
          *ngIf="(e.fromMarkerStyle || theme.edgeFromMarkerStyle) !== 'hidden'"
          [ngClass]="edgeMarkerClassesFor(e, 'from')">
          <circle
            r="4"
            class="outer-circle"
            [attr.cx]="e.points?.[0]?.x"
            [attr.cy]="e.points?.[0]?.y"
            [attr.fill]="getEdgeColor(e)"
          />
          <circle r="3" class="inner-circle" [attr.cx]="e.points?.[0]?.x" [attr.cy]="e.points?.[0]?.y" />
        </g>
        <g
          *ngIf="(e.toMarkerStyle || theme.edgeToMarkerStyle) === 'circle' &&
            (e.toMarkerStyle || theme.edgeToMarkerStyle) !== 'hidden'"
          [ngClass]="edgeMarkerClassesFor(e, 'to')"
        >
          <circle
            r="4"
            class="outer-circle"
            [attr.cx]="e.points?.slice(-1)?.[0]?.x"
            [attr.cy]="e.points?.slice(-1)?.[0]?.y"
            [attr.fill]="getEdgeColor(e)"
          />
          <circle
            r="3"
            class="inner-circle"
            [attr.cx]="e.points?.slice(-1)?.[0]?.x"
            [attr.cy]="e.points?.slice(-1)?.[0]?.y"
          />
        </g>
      </g>
    </ng-container>
  </svg>
</div>

<ng-template #renderNode let-node>
  <ng-container *ngIf="isCustomNode(node)">
    <article
      *ngIf="isDagreInit(node)"
      class="custom-node"
      [attr.node-title]="node.getNodeDisplayName()"
      [style.transform]="node.cssTransform"
      [style.width.px]="node.width"
      [style.height.px]="node.height"
      [style.overflow]="'none'"
      (wheel)="onNodeWheel($event)"
    >
      <ng-container *ngIf="getCustomNodeTemplateFor(node)">
        <ng-container
          *ngTemplateOutlet="getCustomNodeTemplateFor(node); context: {
          node,
          nodes,
          edges,
          updateDAG,
          isPanning,
          updateGraphLayoutFromNodesChange,
          toggleSelection: customNodeToggleSelectionCurry(node)
        }"
        ></ng-container>
      </ng-container>
      <ng-container *ngIf="!getCustomNodeTemplateFor(node)">
        <div class="custom-node-error" role="alert" tabindex="0">
          <span
            >Could not find the <code>templateRef</code> specified for
            <code>{{ node.id }}</code> (template: <code>{{ node.templateRef }}</code
            >)
          </span>
        </div>
      </ng-container>
    </article>
  </ng-container>
  <ng-container *ngIf="!isCustomNode(node)">
    <ai-dag-node
      *ngIf="isDagreInit(node)"
      tabindex="0"
      role="switch"
      [style.transform]="node.cssTransform"
      [node]="node"
      [edges]="getEdges(node)"
      [selected]="selectedNode?.node === node"
      (click)="toggleSelectedNode(node, $event)"
      (keydown.enter)="toggleSelectedNode(node, $event)"
      (hoveredChanged)="adjustNodeHover(node, $event, 'node')"
      (wheel)="onNodeWheel($event)"
    >
    </ai-dag-node>
  </ng-container>
  <aside
    *ngIf="isDagreInit(node)"
    role="presentation"
    class="faux-node-outline"
    [style.transform]="node.cssTransform"
    [style.width.px]="
      isCustomNode(node) ? node.width : dims.getNodeWidth(node.state, node.conditionalQuery)
    "
    [style.height.px]="isCustomNode(node) ? node.height : dims.height"
  >
    <footer
      class="node-ref-area"
      *ngIf="node.type === 'execution'"
      [style.left.px]="isCustomNode(node) ? 0 : dims.iconSpaceWidth"
      [style.width.px]="isCustomNode(node) ? node.width : dims.textareaWidth"
    >
      <footer class="node-ref">
        <ng-container *ngFor="let ref of node.artifactRefs; trackBy: nodeOrGroupTrack">
          <ai-dag-node-ref-badge
            *ngIf="makeSafeNode(resolveReference?.(ref)) as resolvedRef"
            class="fade-in"
            tabindex="0"
            role="switch"
            [node]="resolvedRef"
            [collapsed]="hoveredNode !== node"
            [selected]="selectedNode?.node === resolvedRef"
            (click)="refBadgeClick(resolvedRef, ref, $event)"
            (keydown.enter)="refBadgeClick(resolvedRef, ref, $event)"
            (focus)="adjustNodeHover(node, true, 'badge')"
            (blur)="adjustNodeHover(node, false, 'badge')"
            (mouseenter)="adjustNodeHover(node, true, 'badge')"
            (mouseleave)="adjustNodeHover(node, false, 'badge')"
          ></ai-dag-node-ref-badge>
        </ng-container>
      </footer>
    </footer>
  </aside>
</ng-template>
<ng-template #renderGroup let-group>
  <ng-container *ngIf="isDagreInit(group)">
    <aside
      class="group-border fade-in"
      role="presentation"
      [class.expanded]="isGroupExpanded(group)"
      [style.transform]="group.cssTransform"
      [style.width.px]="group.width"
      [style.height.px]="group.height - group.padY!"
    ></aside>
    <div
      [attr.id]="a11yIdFor(group)"
      [ngClass]="['group', classNameState(group)]"
      [class.expanded]="isGroupExpanded(group)"
      [style.transform]="group.cssTransform"
      [style.width.px]="group.width!"
      [style.height.px]="(group.height! - group.padY!)"
      (wheel)="onNodeWheel($event)"
    >
      <header
        *ngIf="showControlNode(group) && getControlNodeFor(group)"
        class="control-node-scaffold fade-in"
        [style.width.px]="getControlNodeFor(group).width"
        [style.height.px]="getControlNodeFor(group).height"
      >
        <div
          class="control-node-shadow"
          [style.width.px]="getControlNodeFor(group).width"
          [style.height.px]="getControlNodeFor(group).height"
        ></div>
        <ai-dag-node
          class="control-node"
          [class.kill-bottom-border]="group.treatAsLoop && isGroupExpanded(group)"
          [attr.tabindex]="isGroupExpanded(group) ? 0 : -1"
          [attr.aria-hidden]="!isGroupExpanded(group)"
          role="switch"
          [style.left.px]="getControlNodeFor(group).width / 2"
          [style.width.px]="getControlNodeFor(group).width"
          [node]="getControlNodeFor(group)"
          [selected]="selectedNode?.node === group"
          (click)="toggleSelectedNode(group, $event)"
          (keydown.enter)="toggleSelectedNode(group, $event)"
          (hoveredChanged)="adjustNodeHover(group, $event, 'node')"
          [edges]="getEdges(group)"
        >
          <ng-container *ngFor="let ref of group.artifactRefs; trackBy: nodeOrGroupTrack">
            <ng-container *ngIf="makeSafeNode(resolveReference?.(ref)) as resolvedRef">
              <ai-dag-node-ref-badge
                class="fade-in"
                [attr.tabindex]="isGroupExpanded(group) ? 0 : -1"
                role="switch"
                [node]="resolvedRef"
                [collapsed]="hoveredNode !== group"
                [selected]="selectedNode?.node === resolvedRef"
                (click)="refBadgeClick(resolvedRef, ref, $event)"
                (keydown.enter)="refBadgeClick(resolvedRef, ref, $event)"
                (focus)="adjustNodeHover(group, true, 'badge')"
                (blur)="adjustNodeHover(group, false, 'badge')"
                (mouseenter)="adjustNodeHover(group, true, 'badge')"
                (mouseleave)="adjustNodeHover(group, false, 'badge')"
              ></ai-dag-node-ref-badge>
            </ng-container>
          </ng-container>
        </ai-dag-node>
        <ai-dag-iteration-selector
            *ngIf="group.treatAsLoop"
            [style.height.px]="isGroupExpanded(group) ? getControlNodeFor(group).height * 0.6 : 0"
            [style.width.px]="getControlNodeFor(group).width"
            [parentNodeSelected]="selectedNode?.node === group"
            [unTabbable]="!isGroupExpanded(group)"
            [attr.aria-hidden]="!isGroupExpanded(group)"
            [sourceGroup]="group.getNodeDisplayName()"
            [iterations]="getIterationsFor(group)"
            [(iteration)]="group.selectedLoopId"
            (onIterSelect)="broadcastIterChange(group, $event!)"
          />
      </header>
      <footer class="sub-dag">
        <button
          class="collapsed-expand-click-area"
          [attr.tabindex]="isGroupExpanded(group) ? -1 : 0"
          [attr.aria-hidden]="isGroupExpanded(group)"
          role="button"
          aria-label="Expand Surface for DAG Group"
          i18n-aria-label="Expand Surface for DAG Group"
          [attr.aria-controls]="a11yIdFor(group)"
          [attr.aria-expanded]="isGroupExpanded(group)"
          (click)="toggleExpand(group)"
        ></button>
        <ai-dag-raw
          #subDag
          *ngIf="!group.treatAsLoop"
          [dagPath]="makePathTo(group.id)"
          [extraPadding]="showControlNode(group) ? 'control-node' : 'none'"
          [sizeConfig]="sizeConfig"
          [nodes]="group.nodes"
          [edges]="group.edges"
          [groups]="group.groups"
          (graphResize)="storeSubDagDims($event, group)"
          [resolveReference]="resolveReference"
        ></ai-dag-raw>
        <ng-container *ngIf="!!(group.treatAsLoop && group._cachedSelection)">
          <ai-dag-raw
            #subDag
            *ngIf="getNodeType(group._cachedSelection) !== 'group'"
            [dagPath]="makePathTo(group.id)"
            [extraPadding]="'loop'"
            [sizeConfig]="sizeConfig"
            [nodes]="[group._cachedSelection]"
            (graphResize)="storeSubDagDims($event, group)"
            [resolveReference]="resolveReference"
          ></ai-dag-raw>
          <ai-dag-raw
            #subDag
            *ngIf="getNodeType(group._cachedSelection) === 'group'"
            [dagPath]="makePathTo([group.id, group._cachedSelection.id])"
            [extraPadding]="'loop'"
            [sizeConfig]="sizeConfig"
            [nodes]="group._cachedSelection.nodes"
            [edges]="group._cachedSelection.edges"
            [groups]="group._cachedSelection.groups"
            (graphResize)="storeSubDagDims($event, group)"
            [resolveReference]="resolveReference"
          ></ai-dag-raw>
        </ng-container>
      </footer>
      <!-- The reason we use a nested span is so that the fade-in animation
        doesn't affect moments when the iteration count should be invisible by
        fading out. An example where this would break without this approach
        would be when you reset the nodes while the DAG is expanded.

        This causes the DAG to open up, fade-in the label before hiding it,
        which looks very glitchy
      -->
      <span *ngIf="group.treatAsLoop" class="fade-in" [attr.aria-hidden]="isGroupExpanded(group)">
        <span class="iteration-counter"> {{ getIterationsFor(group).length }} iterations </span>
      </span>
      <button
        class="expand-toggle"
        role="button"
        [attr.tabindex]="isGroupExpanded(group) ? 0 : -1"
        [attr.aria-hidden]="!isGroupExpanded(group)"
        aria-label="Expand / Collapse Toggle for DAG Group"
        i18n-aria-label="Expand / Collapse Toggle for DAG Group"
        [attr.aria-controls]="a11yIdFor(group)"
        [attr.aria-expanded]="isGroupExpanded(group)"
        (click)="toggleExpand(group)"
      >
        <workflow-graph-icon class="caret" icon="up" iconset="common" size="medium"></workflow-graph-icon>
        <workflow-graph-icon class="caret" icon="down" iconset="common" size="medium"></workflow-graph-icon>
      </button>
    </div>
  </ng-container>
</ng-template>
