/*
 * Dag node base style definitions
 */

/* Mixin and deps imports */
@import './mixins.scss';

/* stylelint-disable no-unknown-animations -- All of the animations are imported from mixins.scss */

/* Colors */
$select-menu-filter-bg: var(--workflow-graph-color-surface-elevation-1);
$select-menu-divider-color: var(--workflow-graph-color-outline);
$select-menu-selected-bg: var(--workflow-graph-color-primary-container);
$select-menu-selected-color: var(--workflow-graph-color-on-primary);
$select-menu-group-title-color: var(--workflow-graph-color-surface-on-surface);

:host {
  cursor: pointer;
  width: 100%;
  display: inline-block;
  position: absolute;
  bottom: 5px;
  left: 0;
  transform: translateY(100%);
  transition:
    height 0.25s,
    border-color 0.25s;
  pointer-events: all;
  &.untab {
    overflow: hidden;
    > .hidden {
      display: none;
    }
  }
  &.selected > ::ng-deep mat-select.group-iteration-select {
    border: 3px solid $active-color;
    border-top: 1px solid $node-border-color;
  }

  ::ng-deep mat-select.group-iteration-select {
    width: 100%;
    background: var(--workflow-graph-color-surface-elevation-1);
    height: 100%;
    border-top: 0;
    border: 1px solid $node-border-color;
    border-radius: 0 0 6px 6px;
    transition: border-color 0.25s;

    @include elevate(1);

    &:focus-visible {
      .focus-animator {
        content: '';
        display: block;
        @include fullbleed;
        border-radius: 0 0 6px 6px;
        animation: pulse 1.5s infinite;
      }
    }

    > div {
      height: 100%;
    }

    .mat-mdc-select-trigger {
      display: inline-flex;
      width: 100%;
      padding: 0 16px;

      .mat-mdc-select-value {
        display: block;
        max-width: unset;
      }
    }

    .mat-mdc-select-arrow svg {
      fill: var(--workflow-graph-color-surface-on-surface);
    }

    .content-wrap {
      overflow: hidden;
      display: flex;
      align-items: center;

      .icon-wrap {
        text-align: center;
        margin-right: 14px;
        margin-left: 2px;
      }

      .text {
        flex: 1 1 0%;
        font-weight: $ace-font-weight-medium;
        font-size: 14px;
        color: var(--workflow-graph-color-surface-on-surface);
      }

      .empty-state {
        margin-left: 1em;
        font-weight: $ace-font-weight-medium;
        font-size: 14px;
        font-style: italic;
      }
    }
  }

  * {
    box-sizing: border-box;
  }
}

::ng-deep div.ai-dag-iteration-select-panel.mat-mdc-select-panel {
  min-width: 300px;
  padding: 0;
  background: var(--workflow-graph-color-surface-elevation-1);

  .ai-dag-iteration-select-filter {
    z-index: 1;
    display: flex;
    padding: 8px 16px;
    border-bottom: 1px solid $select-menu-divider-color;
    background-color: $select-menu-filter-bg;
    font-size: 13px;
    align-items: center;
    gap: 4px;
    line-height: normal;
    overflow: hidden;
    position: sticky;
    top: 0;

    .ai-dag-iteration-selector-filter-label {
      color: var(--workflow-graph-color-surface-on-surface);
    }

    .workflow-graph-icon-filter {
      color: var(--workflow-graph-color-surface-on-surface);
    }

    input {
      color: var(--workflow-graph-color-surface-on-surface);
      background-color: transparent;
      border: 0px;
      min-width: 0;
      flex-grow: 1;
      &:focus {
        outline: 0;
      }
    }

    button {
      padding: 0;
      width: 14px;
      height: 14px;
      line-height: 14px;
      color: var(--workflow-graph-color-surface-on-surface);
      mat-icon {
        width: 14px;
        height: 14px;
      }
    }
  }

  .mat-mdc-optgroup:not(:last-child) {
    display: block;
    border-bottom: 1px solid $select-menu-divider-color;
    padding-bottom: 8px;
    margin-bottom: 8px;
  }

  .mat-mdc-optgroup {
    .mat-mdc-optgroup-label {
      font-weight: 500;
      font-size: 13px;
      line-height: normal;
      padding: 8px 16px;
      min-height: unset;

      * {
        color: $select-menu-group-title-color;
      }
    }
  }

  .mat-mdc-option {
    font-size: 13px;
    padding: 4px 16px;
    min-height: unset;
    &[aria-selected='true'] {
      background-color: $select-menu-selected-bg;
      color: $select-menu-selected-color;
    }

    &.hidden {
      display: none;
    }
  }
}
