<mat-select
  #select
  [aria-label]="getA11yLabelFor('button')"
  [value]="softIteration"
  (selectionChange)="updateValue($event)"
  [tabIndex]="unTabbable ? -1 : 0"
  (click)="$event.stopPropagation()"
  class="group-iteration-select"
  panelClass="ai-dag-iteration-select-panel"
  (openedChange)="openedChange($event)"
>
  <mat-select-trigger>
    <span class="focus-animator"></span>
    <div class="content-wrap">
      <ng-container *ngIf="!!softIteration">
        <div *ngIf="getStateIcon(selectedIteration!) as icon" class="icon-wrap">
          <workflow-graph-icon
            [title]="'State: ' + selectedIteration?.state?.toLowerCase()"
            [icon]="fetchIcon(icon, 'name')"
            [iconset]="fetchIcon(icon, 'iconset')"
            [style.color]="fetchIcon(icon, 'color')"
          >
          </workflow-graph-icon>
        </div>
        <div class="text" [title]="selectedIteration?.getNodeDisplayName()">
          {{ selectedIteration?.getNodeDisplayName() }}
        </div>
      </ng-container>
      <span *ngIf="!softIteration" class="empty-state"> Please select an iteration </span>
    </div>
  </mat-select-trigger>
  <ai-dag-iteration-selector-filter (onSearch)="filterIterations($event)" />
  <div role="listbox"
      aria-multiselectable="false"
      aria-label="Options"
      i18n-aria-label="Options aria label for listbox in iteration dropdown">
    <mat-optgroup [label]="labels.failedIters">
      <mat-option *ngFor="let i of badIters" [value]="i.id" [class.hidden]="i.hidden">
        <div *ngIf="getStateIcon(i) as icon" [style.color]="icon && fetchIcon(icon, 'color')">
          <workflow-graph-icon [icon]="icon && fetchIcon(icon, 'name')"
          [iconset]="icon && fetchIcon(icon, 'iconset')"></workflow-graph-icon>
          <span>{{ i.getNodeDisplayName() }}</span>
        </div>
      </mat-option>
      <mat-option disabled i18n="Message displayed when there are no items to display" *ngIf="!badItersShown">
        No items to display.
      </mat-option>
    </mat-optgroup>
    <mat-optgroup [label]="labels.otherIters">
      <mat-option *ngFor="let i of goodIters" [value]="i.id" [class.hidden]="i.hidden">
        <div *ngIf="getStateIcon(i) as icon"  [style.color]="icon && fetchIcon(icon, 'color')">
          <workflow-graph-icon [icon]="icon && fetchIcon(icon, 'name')"
        [iconset]="icon && fetchIcon(icon, 'iconset')"></workflow-graph-icon>
        <span>{{ i.getNodeDisplayName() }}</span>
        </div>
      </mat-option>
      <mat-option disabled i18n="Message displayed when there are no items to display" *ngIf="!goodItersShown">
        No items to display.
      </mat-option>
    </mat-optgroup>
  </div>
</mat-select>
