/*
 * Dag scaffolding base style definitions
 */

ai-dag-scaffold {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  .flex {
    flex: 1 1 0%;
    overflow: auto;
    display: flex;
  }

  ::ng-deep * {
    box-sizing: border-box;
  }
}
