<nav [ngClass]="['toolbar', graphState]">
  <ng-container *ngFor="let customToggleTemplate of leftAlignedCustomToolbarToggleTemplates">
    <div class="cell toggler">
      <ng-container
        *ngTemplateOutlet="customToggleTemplate; context: {
          nodes,
          groups
         }"
      ></ng-container>
    </div>
  </ng-container>
  <ng-container *ngVar="labelGenerator(this, 'graphState') as label">
    <div class="cell state" *ngIf="label !== false">
      <workflow-graph-icon icon="info"></workflow-graph-icon>
      <ng-container *ngIf="!!label">{{ label }}</ng-container>
      <ng-container *ngIf="!label"> {{ graphState }} Graph </ng-container>
    </div>
  </ng-container>
  <div class="cell progress" *ngIf="graphState === 'Runtime'">
    <workflow-graph-icon
      *ngIf="!!icon"
      role="img"
      [title]="'State: ' + finalState?.toLowerCase()"
      [icon]="fetchIcon(icon, 'name')"
      [iconset]="fetchIcon(icon, 'iconset')"
      [style.color]="fetchIcon(icon, 'color')"
    />
    <ng-container *ngVar="labelGenerator(this, 'stepsCompleted') as label">
      <ng-container *ngIf="!!label">{{ label }}</ng-container>
      <ng-container *ngIf="!label">
        {{ completedSteps }}/{{ totalSteps }} steps completed
      </ng-container>
    </ng-container>
  </div>
  <div class="cell toggler" *ngIf="features.collapsibleNodes">
    <mat-slide-toggle
      id="dag-toggle"
      [disabled]="disableToggle"
      [(ngModel)]="expandedMode"
      [ngModelOptions]="{standalone: true}"
    >
      <span class="text">
        <ng-container *ngVar="labelGenerator(this, 'expansionLabel') as label">
          <ng-container *ngIf="!!label">{{ label }}</ng-container>
          <ng-container *ngIf="!label"> Expand Artifacts </ng-container>
        </ng-container>
      </span>
    </mat-slide-toggle>
  </div>
  <div class="cell zoom" *ngIf="features.zoomControls">
    <span
      *ngIf="!features.disableZoomPercentageLabel"
      class="value"
    >
      {{ round(zoomVal * 100) + "%" }}
    </span>
    <button
      mat-icon-button
      class="icon-btn in"
      (click)="zoomIn()"
      [color]="fetchIcon(zoomIcons.in, 'color')"
      [disabled]="zoomInDisabled"
      matTooltip="Zoom in"
      i18n-matTooltip="Zoom in button tooltip text"
      aria-label="Zoom in"
      i18n-aria-label="Zoom in button aria label"
    >
      <workflow-graph-icon
        [icon]="fetchIcon(zoomIcons.in, 'name')"
        [iconset]="fetchIcon(zoomIcons.in, 'iconset')"
      ></workflow-graph-icon>
    </button>
    <button
      mat-icon-button
      class="icon-btn out"
      (click)="zoomOut()"
      [color]="fetchIcon(zoomIcons.out, 'color')"
      [disabled]="zoomOutDisabled"
      matTooltip="Zoom out"
      i18n-matTooltip="Zoom out button tooltip text"
      aria-label="Zoom out"
      i18n-aria-label="Zoom out button aria label"
    >
      <workflow-graph-icon
        [icon]="fetchIcon(zoomIcons.out, 'name')"
        [iconset]="fetchIcon(zoomIcons.out, 'iconset')"
      ></workflow-graph-icon>
    </button>
    <button
      mat-icon-button
      class="icon-btn reset"
      (click)="stateService.zoomReset.next()"
      [color]="fetchIcon(zoomIcons.reset, 'color')"
      matTooltip="Zoom reset"
      i18n-matTooltip="Zoom reset button tooltip text"
      aria-label="Zoom reset"
      i18n-aria-label="Zoom reset button aria label"
    >
      <workflow-graph-icon
        [icon]="fetchIcon(zoomIcons.reset, 'name')"
        [iconset]="fetchIcon(zoomIcons.reset, 'iconset')"
      ></workflow-graph-icon>
    </button>
  </div>
  <div class="cell toggler" *ngIf="features.fullscreenToggle">
    <button
      mat-icon-button
      *ngIf="!enableFullscreen"
      class="icon-btn reset"
      (click)="toggleFullscreen()"
      [color]="fetchIcon(fullscreenIcon.open, 'color')"
      matTooltip="Full screen"
      i18n-matTooltip="Full screen button tooltip text"
      aria-label="Full screen"
      i18n-aria-label="Full screen button aria label"
    >
      <workflow-graph-icon
        [icon]="fetchIcon(fullscreenIcon.open, 'name')"
        [iconset]="fetchIcon(fullscreenIcon.open, 'iconset')"
      ></workflow-graph-icon>
    </button>
    <button
      mat-icon-button
      *ngIf="enableFullscreen"
      class="icon-btn"
      (click)="toggleFullscreen()"
      [color]="fetchIcon(fullscreenIcon.close, 'color')"
      matTooltip="Exit full screen"
      i18n-matTooltip="Exit full screen button tooltip text"
      aria-label="Exit full screen"
      i18n-aria-label="Exit full screen button aria label"
    >
      <workflow-graph-icon
        [icon]="fetchIcon(fullscreenIcon.close, 'name')"
        [iconset]="fetchIcon(fullscreenIcon.close, 'iconset')"
      ></workflow-graph-icon>
    </button>
  </div>
  <ng-container *ngFor="let customToggleTemplate of customToolbarToggleTemplates">
    <div class="cell toggler">
      <ng-container
        *ngTemplateOutlet="customToggleTemplate; context: {
          nodes,
          groups
        }"
      ></ng-container>
    </div>
  </ng-container>
  <div class="flex"></div>
  <ng-container *ngFor="let customToggleTemplate of rightAlignedCustomToolbarToggleTemplates">
    <div class="cell toggler">
      <ng-container *ngTemplateOutlet="customToggleTemplate; context: {
        nodes,
        groups
       }"></ng-container>
    </div>
  </ng-container>
  <div class="cell right" *ngIf="features.enableShortcuts">
    <button
      mat-icon-button
      class="icon-btn a11y-help-center"
      (click)="openA11yHelpCenter()"
      matTooltip="Accessibility Help Center"
      i18n-matTooltip="Accessibility Help Center button tooltip text"
      aria-label="Accessibility Help Center"
      i18n-aria-label="Accessibility Help Center button aria label"
    >
      <workflow-graph-icon icon="keyboard" iconset="cloud_ai"></workflow-graph-icon>
    </button>
  </div>
  <div class="cell right minimap" *ngIf="features.minimapToolbarToggle">
    <mat-button-toggle
        class="icon-btn minimap"
        [checked]="enableMinimap"
        (change)="toggleMinimapVisibility()"
        appearance="standard"
        disableRipple
        matTooltip="Show / Hide Minimap"
        i18n-matTooltip="Show / Hide Minimap button tooltip text"
        aria-label="Show / Hide Minimap"
        i18n-aria-label="Show / Hide Minimap button aria-label">
      <workflow-graph-icon icon="minimap" iconset="cloud_ai" />
    </mat-button-toggle>
  </div>
</nav>
