@use 'third_party/javascript/angular_components/material' as mat;

/*
 * Dag toolbar base style definitions
 */

/* Mixin and deps imports */
@import 'mixins';

@mixin text-styles {
  font-size: 12.5px;
  font-weight: $ace-font-weight-medium;
  color: var(--workflow-graph-color-non-primary);
}

@mixin disable-selection {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

// allow the toolbar to scroll at high zoom levels
:host {
  overflow-x: auto;
  overflow-y: hidden;
  flex-shrink: 0;
}

.toolbar {
  width: 100%;
  display: flex;
  padding: 0.25em;
  height: $toolbar-height;
  font-size: 1em;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  z-index: 1;
  font-family: $default-font;
  background: var(--workflow-graph-color-surface);
  .flex {
    flex: 1 0 0%;
  }
}

.toolbar .cell {
  @include text-styles;
  padding: 0 1em;
  min-height: 2em;
  min-width: fit-content;
  display: flex;
  align-items: center;
  &:not(.right) {
    border-right: 1px solid var(--workflow-graph-color-hairline);
  }
  &.right {
    border-left: 1px solid var(--workflow-graph-color-hairline);
  }
  > workflow-graph-icon {
    color: var(--workflow-graph-color-non-primary);
    transition: color 0.25s;
    margin: 0 0.25em 0 0;
  }

  .mat-mdc-slide-toggle {
    @include mat.slide-toggle-overrides(
      (
        state-layer-size: 32px,
      )
    );
  }

  &.toggler > * {
    margin: 0;
    .text {
      padding-top: 1px;
      @include text-styles;
    }
  }
  .icon-btn {
    @include mat.button-toggle-overrides(
      (
        height: 28px,
        shape: 50%,
      )
    );
    width: 28px;
    height: 28px;
    line-height: 28px;
    color: var(--workflow-graph-color-non-primary);
    padding: 0;
    border: 0;

    ::ng-deep .mat-button-toggle-label-content {
      padding: 0;
    }

    .workflow-graph-icon {
      width: 18px;
      height: 18px;
    }
  }
}

.toolbar .zoom {
  @include disable-selection;
  @include text-styles;
  .value {
    margin-right: 0.5em;
    display: inline-block;
    min-width: 2.8em;
  }
}

* {
  box-sizing: border-box;
}

.custom-toolbar-toggle {
  margin: 0;
  .text {
    padding-top: 1px;
    @include text-styles;
  }
}

:host ::ng-deep .custom-toolbar-toggle .mat-slide-toggle-content {
  min-width: max-content;
}
